**/a.out
**/software/*.o
**/dokument/*.*
**/dokument/ida.png
**/dokument/lith.png
**/software/cmake-build-debug
**/software/CMakeFiles
**/software/sfml
**/software/CMakeCache.txt
**/software/CMakeLists.txt.user
**/software/cmake_install.cmake
**/software/sfml.cbp
**/software/html
**/software/latex
