**/a.out
**/software/*.o
**/dokument/*.cls
**/dokument/*.log
**/dokument/*.fls
**/dokument/*.aux
**/dokument/*.fdb_latexmk
**/dokument/*.out
**/dokument/*.toc
**/dokument/ida.png
**/dokument/lith.png
**/dokument/TDP003-mall.tex
**/software/cmake-build-debug
**/software/CMakeFiles
**/software/sfml
**/software/CMakeCache.txt
**/software/CMakeLists.txt.user
**/software/cmake_install.cmake
**/software/sfml.cbp
**/software/html
**/software/latex

